.logo-glitch {
  position: relative;
  background: url("../img/devfsa-logo.svg") no-repeat;
  width: 8.25rem;
  height: 2rem;
  background-size: 8.25rem 2rem;
}
.logo-glitch:before {
  content: " ";
  background: url("../img/devfsa-logo.svg") no-repeat;
  width: 8.25rem;
  height: 2rem;
  background-size: 8.25rem 2rem;
  position: absolute;
  left: -0.125rem;
  top: 0;
  -webkit-filter: drop-shadow(0.0825rem 0 blue);
  filter: drop-shadow(0.0825rem 0 blue);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.logo-glitch:after {
  content: " ";
  background: url("../img/devfsa-logo.svg") no-repeat;
  width: 8.25rem;
  height: 2rem;
  background-size: 8.25rem 2rem;
  position: absolute;
  left: 0.125rem;
  top: 0;
  -webkit-filter: drop-shadow(-0.0825rem 0 red);
  filter: drop-shadow(-0.0825rem 0 red);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(50px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(49px, 9999px, 56px, 0);
  }
  15% {
    clip: rect(76px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(97px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(32px, 9999px, 48px, 0);
  }
  35% {
    clip: rect(100px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(43px, 9999px, 11px, 0);
  }
  45% {
    clip: rect(65px, 9999px, 59px, 0);
  }
  50% {
    clip: rect(97px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(92px, 9999px, 28px, 0);
  }
  60% {
    clip: rect(100px, 9999px, 59px, 0);
  }
  65% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(66px, 9999px, 72px, 0);
  }
  75% {
    clip: rect(91px, 9999px, 12px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 78px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 19px, 0);
  }
  90% {
    clip: rect(68px, 9999px, 41px, 0);
  }
  95% {
    clip: rect(20px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(43px, 9999px, 14px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(60px, 9999px, 75px, 0);
  }
  5% {
    clip: rect(27px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 41px, 0);
  }
  15% {
    clip: rect(52px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 75px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 18px, 0);
  }
  35% {
    clip: rect(32px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(77px, 9999px, 7px, 0);
  }
  45% {
    clip: rect(70px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 16px, 0);
  }
  55% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  60% {
    clip: rect(19px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(19px, 9999px, 97px, 0);
  }
  70% {
    clip: rect(59px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 74px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 38px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(72px, 9999px, 35px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 6px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 74px, 0);
  }
}