:root {
  --color-blue: #13103D;
  --color-pink: #F33088;
  --color-pink-dark: #CD3379;
  --color-grey: #7E7E7E;
  --color-grey-light: #E5E5E5;
  --color-black: #000;

  --color-primary: var(--color-blue);
  --color-accent: var(--color-pink);
  --color-text-dark: var(--color-black);
  --color-text: var(--color-grey);
  --color-border: var(--color-grey-light);

  --font-default: 'IBM Plex Sans', sans-serif;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
  font-size: 16px;
  position: relative;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.grid-hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  background: var(--color-primary);
  height: 5rem;
  border-bottom: 0;
  margin: 0 auto 0 auto;
  padding: 0 3%;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  display: flex;
  align-items: center;
}

nav {
  flex:1 auto;
}
nav ul {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 5rem auto 0 auto;
  height: calc(100% - 5rem);
  width: 100%;
  flex-flow: column nowrap;
  align-content: stretch;
  display: none;
  padding: 0;
}
nav ul a {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  color: rgba(255,255,255,.7);
}
nav ul a:hover {
  color: rgba(255,255,255,1);
}
nav ul > li {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  background: var(--color-primary);
}

#menu-btn {
  display: none;
}
/*Show menu when invisible checkbox is checked*/
#menu-btn:checked ~ ul {
  display: flex;
}
.menu-icon {
  width: 2.5rem;
  height: 5rem;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.navicon:after,
.navicon:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.navicon:after{
  top: 9px;
}
.navicon {
  position: relative;
  display: block;
}
.navicon,
.navicon:after,
.navicon:before {
  width: 100%;
  height: 5px;
  background-color: white;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
/* on menu activation */
#menu-btn:checked ~ .menu-icon>.navicon {
  background-color: transparent;
}
#menu-btn:checked ~ .menu-icon>.navicon:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-btn:checked ~ .menu-icon>.navicon:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.meetup-hero {
  background-color: white;
  padding: 7rem 15% 1rem 15%
}
.meetup-hero .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.meetup-hero .btn-secondary {
  color: var(--color-text);
}
.meetup-date {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.meetup-description {
  color: var(--color-text);
  margin-top: 0;
}
section {
  padding: 2rem 0;
}
.support > .container {
  display: flex;
  justify-content: space-around;
}
footer {
  background-color: #F3F3F8;
  padding: 2rem 0;
}
footer > .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo > img {
  width: 120px;
}
footer a {
  color: var(--color-accent);
  border-bottom: 1px solid transparent;
}
footer a:hover {
  border-bottom: 1px solid var(--color-accent);
}
footer .grid-2 {
  grid-gap: 0rem;
  margin: auto;
}
.description-link {
  color: var(--color-accent);
  border-bottom: 1px solid transparent;
}
.description-link:hover {
  border-bottom: 1px solid var(--color-accent);
}
.sub-title,
.sub-title-link {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.sub-title-link {
  color: var(--color-accent);
  border-bottom: 1px solid transparent;
}
.sub-title-link:hover {
  border-bottom: 1px solid var(--color-accent);
}
.meetup-hero .sub-title {
  color: var(--color-text);
}
.nav-item {
  color: rgba(255,255,255,.7);
  padding-left: 1rem;
}
.nav-item:hover {
  color: rgba(255,255,255,1);
}
.card {
  border: 1px solid var(--color-border);
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
}
.card-item  {
  display: block;
  margin-bottom: 1.5rem;
}
.card-item:hover .card-item-title,
.card-item:hover .card-item-description  {
  color: var(--color-accent);
}
.card-item:last-child  {
  margin-bottom: 0;
}
.card-item-title  {
  color: var(--color-text-dark);
  font-size: 1rem;
  margin: 0;
  transition: all .2s ease-out;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card-item-description  {
  color: var(--color-text);
  font-size: .875rem;
  margin-top: .5rem;
  margin-bottom: 0;
  transition: all .2s ease-out;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.btn-primary,
.btn-secondary{
  display: inline-block;
  font-size: .875rem;
  text-transform: uppercase;
  border-radius: 5px;
  height: 3rem;
  line-height: 1rem;
  padding: 1rem 1rem;

}
.btn-primary {
  background-color: var(--color-primary);
  color: rgba(255,255,255,.7);
  transition: all .2s ease-out;
}
.btn-primary:hover {
  color: rgba(255,255,255,1);
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--color-grey-light);
  color: var(--color-text);
  transition: all .2s ease-out;
}
.btn-secondary:hover {
  border-color: var(--color-text);
}
.keynote-card {
  display: flex;
}
.keynote-image {
  display: flex;
  height: 100px;
  width: 100px;
}
.keynote-photo {
  height: 100%;
}
.keynote-desc {
  margin-left: 1rem;
  width: 100%;
}
.keynote-title {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1.8rem;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all .2s ease-out;
}
.keynote-title:hover {
  color: var(--color-accent);
}
.keynote-info {
  display: flex;
  justify-content: space-between;
}
.keynote-author {
  margin: 0;
  font-size: .875rem;
  color: var(--color-text);
}
.keynote-vote {
  font-size: .875rem;
  color: var(--color-text);
}
.keynote-vote.voted{
  color: var(--color-accent);
}
.keynote-vote:hover {
  color: var(--color-black);
}

.youtube-videos {
  background-color: var(--color-primary);
  color: #FFFFFF;
}
.youtube-videos .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.youtube-videos .section-header h2,
.youtube-videos .section-header a {
 color: var(--color-primary);
}
.youtube-videos .section-header a {
  text-transform: uppercase;
}
.youtube-videos .section-header a:hover {
  text-decoration: underline;
}
.youtube-videos #youtube-video-gallery {
  display: flex;
  justify-content: space-between;
}
.youtube-videos #youtube-video-gallery .video-container {
  width: 32%;
}
.youtube-videos #youtube-video-gallery .video-container a {
  color: #FFFFFF;
  transition: all .2s ease-out;
}
.youtube-videos #youtube-video-gallery .video-container a:hover {
  color: var(--color-accent);
}
.youtube-videos #youtube-video-gallery .video-container a img {
  width: 100%;
}
.youtube-videos .sub-title {
  color: #fff;
}
@media screen and (min-width: 768px) {
  header {
    padding: 0 15%;
  }
}

@media screen and (max-width: 768px) {
  .grid-hero,
  .grid-2,
  .grid-3 {
    grid-template-columns: none;
  }
  .container {
    width: 90%;
  }
  .meetup-hero {
    padding: 6rem 5% 2rem 5%;
  }
  .meetup-hero .controls {
    margin-bottom: 1rem;
    justify-content: space-evenly;
  }
  .keynote-title {
    margin-bottom: 1rem;
  }
  .grid-hero > div:first-child {
    text-align: center;
  }
  .meetup-hero .btn-primary {
    margin-right: 0;
  }
  .support > .container {
    justify-content: initial;
    display: block;
    text-align: center;
  }
  footer p {
    text-align: center;
  }
}

@media only screen
and (min-width : 480px)
and (max-width : 768px){
  .keynote-container .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .btn-primary, .btn-secondary {
    text-align: center;
  }

  .support > .container {
    justify-content: space-around;
    display: block;
    text-align: center;
  }

  .section .container {
    width: 90%;
  }

  footer p {
    text-align: center;
  } 
}

@media screen and (max-width: 992px) {
  .youtube-videos #youtube-video-gallery {
    flex-wrap: wrap;
  }
  .youtube-videos #youtube-video-gallery .video-container {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media only screen
and (min-width : 768px)
and (max-width : 1200px){
  .keynote-container .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  footer {
    padding: 1rem 0;
  }
  footer p {
    text-align: center;
  }
}

@media only screen
and (min-width : 769px)
and (max-width : 1335px) {
  .meetup-hero .controls .btn-primary {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 1080px) {
  .menu-icon {
    display: none;
  }
  nav ul {
    position: initial;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: flex-end;
    height: 5rem;
    margin-top: 0;
  }
  nav ul > li {
    flex: 1 0 auto;
    align-items: initial;
  }
  nav ul a {
    font-size: 1rem;
    width: auto;
    justify-content: flex-end;
    color: rgba(255,255,255,.7);
  }
  nav ul a:hover {
    color: rgba(255,255,255,1);
  }
  footer {
    padding: 0.5rem 0;
  }
  footer > .container {
    flex-direction: row;
  }
  .footer-logo {
    justify-content: left;
  }
}
